@model Trab001.Models.Produtos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="exampleInputNomeEdit" asp-for="Nome" class="form-label">Nome</label>
                <input type="text" asp-for="Nome" class="form-control" id="exampleInputNomeEdit" aria-describedby="NomeEdit">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputValorEdit" asp-for="Valor" class="form-label">Valor</label>
                <input type="text" asp-for="Valor" class="form-control" id="exampleInputValorEdit" aria-describedby="ValorEdit">
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a role="button" class="btn btn-primary" asp-action="Index">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
